 <!-- Start - Sub-header (Page Tilte) -->
 <div class="pageTitle">
    <h2>Employee Main Data</h2>
    <div class="actions">
        <!-- inactive class on print link will be removed once user select at least one row in table-->
        <a href="#" class="inactive" data-toggle="tooltip" data-placement="bottom" title="Print">
            <span class="glyphicon glyphicon-print"></span>
        </a>
        <a href="#" class="" data-toggle="tooltip" data-placement="bottom" title="Save">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </a>
        <a href="#" class="" data-toggle="tooltip" data-placement="left" title=""
            data-original-title="Add New">
            <span class="fas fa-plus-circle" data-toggle="modal" data-target="#addInstitute"></span>
        </a>
    </div>
</div><!-- End - Sub-header (Page Tilte) -->