<div class="tab-pane" id="profile-1">
  <!--start of form inline -- first box -first tab -->
  <div class="row">
    <div class="col-xs-12">
      <div class="tools right">
        <a class="glyphicon glyphicon-pencil boxEdit"></a>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Basic Information</h3>
              </div>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-6">
              <form id="UploadImagesForm">
                <div class="ImgUploadBlock">
                  <img
                    id="ImgPreview"
                    src="src/assets/images/default-user.png"
                    class="preview"
                  />

                  <a  class="ZoomImg"
                    ><i class="glyphicon glyphicon-zoom-in"></i
                  ></a>
                  <span class="btn_upload">
                    <input
                      type="file"
                      id="imag"
                      title=""
                      class="input-img"
                      accept="image/png, image/gif, image/jpeg"
                    />
                    Upload
                  </span>
                  <input
                    type="button"
                    id="removeImage"
                    value="x"
                    class="btn-rmv"
                  />
                </div>
              </form>
            </div>
            <div class="col-xs-12 col-md-8 col-sm-6">
              <form id="employeeName">
                <div style="width: 100%">
                  <label>User Name</label>
                  <input class="form-control" name="ID" value="72874656" />
                </div>
                <div style="width: 100%">
                  <label>English Name</label>
                  <input class="form-control" name="name" value="Nada Walaa" />
                </div>
                <div style="width: 100%">
                  <label>Arabic Name</label>
                  <input class="form-control" name="name" value="Nada Walaa" />
                </div>
                <div style="width: 100%">
                  <label>Employee Code</label>
                  <input class="form-control" name="ID" value="72874656" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Job Information</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label
                    >Direct Manager
                    <a
                      class="glyphicon glyphicon-search text-decoration-none"
                      href="#formPopup"
                      data-toggle="modal"
                      style="text-decoration: none"
                    >
                    </a
                  ></label>
                  <input
                    class="form-control"
                    name="Direct Manager"
                    value="Ahmed Elgarhy"
                    
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Key Stuff</label>
                  <select class="form-control">
                    <option value="2">Please Select</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Employee File No.</label>
                  <input
                    class="form-control"
                    name="Employee File Number"
                    value="12963"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Employee File Place</label>
                  <select class="form-control">
                    <option value="2">Egypt</option>
                    <option value="1">Male</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Internal Extension No</label>
                  <input
                    class="form-control"
                    name="INternal Extension"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Security Level</label>
                  <input
                    class="form-control"
                    name="Security Level"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Finger Print Id</label>
                  <input
                    class="form-control"
                    name="Finger Print Id"
                    value="12963"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>
                    <input type="checkbox" class="" /> Time Attendance
                  </label>
                  <div class="visible-lg visible-md visible-sm mt-30"></div>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label> <input type="checkbox" class="" /> Active </label>
                  <div class="visible-lg visible-md visible-sm mt-30"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Personal Information</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Family English</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0123749704"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Family Arabic</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0123749704"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Mother English</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0123749704"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Mother Arabic</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0123749704"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Social Status</label>

                  <select
                    class="form-control"
                    name="Social Status"
                    value="Single"
                  >
                    <option value="1">Single</option>
                    <option value="2">Married</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Religion</label>
                  <select class="form-control" name="Religion" value="Muslim">
                    <option value="1">Muslim</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Gender</label>
                  <select class="form-control" name="gender" value="Female">
                    <option value="2">Female</option>
                    <option value="1">Male</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Region</label>
                  <input
                    class="form-control"
                    name="address"
                    value="Cairo , Egypt"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>District</label>
                  <input
                    class="form-control"
                    name="address"
                    value="Cairo , Egypt"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Street</label>
                  <input
                    class="form-control"
                    name="address"
                    value="Cairo , Egypt"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Address English</label>
                  <input
                    class="form-control"
                    name="address"
                    value="Cairo , Egypt"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Address Arabic</label>
                  <input
                    class="form-control"
                    name="address"
                    value="Cairo , Egypt"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Email</label>
                  <input class="form-control" name="Email" value="nada.walaa" />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Notes</label>
                  <input class="form-control" name="Notes" value="Notes" />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Nationality</label>
                  <select
                    class="form-control"
                    name="Nationality"
                    value="Egyptian"
                  >
                    <option value="1">Egyptian</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Birth Date</label>
                  <input
                    class="form-control"
                    name="Birth Date"
                    value="22/9/1996"
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Birth City</label>
                  <input
                    class="form-control"
                    name="Birth Place"
                    value="Assuit , Egypt"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Residence City</label>
                  <input
                    class="form-control"
                    name="Birth Place"
                    value="Assuit , Egypt"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>ID Type</label>
                  <select class="form-control" name="ID Type" value="Egyptian">
                    <option value="1">Egyptian</option>
                    <option value="2"></option>
                  </select>
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>ID Number</label>
                  <input
                    class="form-control"
                    name="ID Number"
                    value="nada.walaa"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>ID Issue Date</label>
                  <input
                    class="form-control"
                    name="ID Issue Date"
                    value="22/9/1996"
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>ID Expire Date</label>
                  <input
                    class="form-control"
                    name="ID Expire Date"
                    value="22/9/1996"
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>ID Issue Place</label>
                  <select class="form-control" name="Religion" value="Muslim">
                    <option value="1"></option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Mobile Number 1</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0123749704"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Mobile Number 2</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0123749704"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Telephone Number 1</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0228486630"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Telephone Number 2</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="0228486630"
                  />
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>PO Box</label>
                  <input
                    class="form-control"
                    name="PO Box"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Post Box</label>
                  <input
                    class="form-control"
                    name="Post Box"
                    value="Dummy Data"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
