<div class="tab-pane" id="profile-3">
  <!--start of form inline -- first box -first tab -->
  <div class="row">
    <div class="col-xs-12">
      <div class="tools right">
        <a class="glyphicon glyphicon-pencil boxEdit" href="#"></a>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Insurance Information</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Social Insurance Flag</label>
                  <input
                    class="form-control"
                    name="Social Insurance Flag"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Social Insurance Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="Social Insurance Date"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Social Insurance No</label>
                  <input
                    class="form-control"
                    name="Social Insurance No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Social Security No</label>
                  <input
                    class="form-control"
                    name="Social Security No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Medical Insurance Flag</label>
                  <select
                    class="form-control"
                    name="Medical Insurance Flag"
                    value="Please Select"
                  >
                    <option value="2">Please Select</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Medical Insurance Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="Medical Insurance Date"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Medical Insurance No</label>
                  <input
                    class="form-control"
                    name="Medical Insurance No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Life Insurance Flag</label>
                  <select
                    class="form-control"
                    name="Life Insurance Flag"
                    value="Please Select"
                  >
                    <option value="2">Please Select</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Life Insurance Value</label>
                  <input
                    class="form-control"
                    name="Life Insurance Value"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Insurance Discriminator</label>
                  <select
                    class="form-control"
                    name="Life Insurance Flag"
                    value="Please Select"
                  >
                    <option value="2">Please Select</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Payroll Insurance Fixed Value </label>
                  <input
                    class="form-control"
                    name="Payroll Insurance"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Payroll Insurance Variable Value </label>
                  <input
                    class="form-control"
                    name="Payroll Insurance"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Tax Discriminator</label>
                  <select
                    class="form-control"
                    name="Tax
                                                    Discriminator"
                    value="Please Select"
                  >
                    <option value="2">Please Select</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Tax Yearly Remission Value</label>
                  <input
                    class="form-control"
                    name="Tax Yearly Remission Value"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>G/L Account No</label>
                  <input
                    class="form-control"
                    name="G/L Account No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Payroll Order No</label>
                  <input
                    class="form-control"
                    name="Payroll Order No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Cost Center</label>
                  <input
                    class="form-control"
                    name="Cost Center"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Take Allowance</label>
                  <select
                    class="form-control"
                    name="Take Allowence"
                    value="Please Select"
                  >
                    <option value="2">yes</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Take Over time</label>
                  <select
                    class="form-control"
                    name="Take Over time"
                    value="Please Select"
                  >
                    <option value="2">yes</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Take Fixed Income</label>
                  <select
                    class="form-control"
                    name="Take Allowence"
                    value="Please Select"
                  >
                    <option value="2">yes</option>
                    <option value="1"></option>
                  </select>
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Take Variable Income</label>
                  <select
                    class="form-control"
                    name="Take Income"
                    value="Please Select"
                  >
                    <option value="2">yes</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>No Of Work Hours / Day</label>
                  <input
                    class="form-control"
                    name="No of work"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Salary Scale</label>
                  <input
                    class="form-control"
                    name="Salary Scale"
                    value="Dummy Data"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Bank Information</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Pay Type</label>
                  <select class="form-control">
                    <option value="2">Please Select</option>
                    <option value="1">1</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Bank</label>
                  <input class="form-control" name="Bank" value="Qnb Bank" />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Employee Coding In Bank</label>
                  <input
                    class="form-control"
                    name="Employee Code In Bank"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Bank Account No Local</label>
                  <input
                    class="form-control"
                    name="Bank Account No Local"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Bank Account No International</label>
                  <input
                    class="form-control"
                    name="Bank Account No International"
                    value=""
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Safe Number</label>
                  <input
                    class="form-control"
                    name="Safe Number"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Currency</label>
                  <select
                    class="form-control"
                    name="Currency"
                    value="Please Select"
                  >
                    <option value="2">Please Select</option>
                    <option value="1"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
