<!-- Start - Side Menu -->

  <a
    href="#"
    class="glyphicon glyphicon-chevron-left collaps-smenu"
    onresize="sizing()"
    onload="sizing()"
  ></a>
  <div class="clearfix"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr0">
        <nav class="navbar navbar-default">
          <!-- toggle get grouped for better mobile display -->
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span> <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div
            class="collapse navbar-collapse"
            id="bs-example-navbar-collapse-1"
          >
            <ul class="sidemenu">
              <li>
                <a class="" href="employees-index.html">
                  <i class="fa fa-users fa-fw"></i> Employees
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>

<!-- End - Side Menu -->
