<div class="tab-pane" id="profile-4">
  <div class="row">
    <div class="col-xs-12">
      <div class="tools right">
        <a class="glyphicon glyphicon-pencil boxEdit" href="#"></a>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Insurance Data</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Other Insurance Office</label>
                  <select class="form-control">
                    <option value="2">Please Select</option>
                    <option value="1">1</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Other Insurance No</label>
                  <input
                    class="form-control"
                    name="Other Insurance No"
                    type="text"
                    value="12345678"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Other Insurance Date</label>
                  <input
                    class="form-control"
                    name="Other Insurance No"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Disclosure Date</label>
                  <input
                    class="form-control"
                    name="Disclosure No"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Other Insurance Notes</label>
                  <input
                    class="form-control"
                    name="Other Insurance No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Income Date</label>
                  <input
                    class="form-control"
                    name="Income Data"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Avower Issue Date</label>
                  <input
                    class="form-control"
                    name="Avower Issue Data"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Avower End Date</label>
                  <input
                    class="form-control"
                    name="Avower End Data"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Avower Number</label>
                  <input
                    class="form-control"
                    name="Avower Number"
                    value="Dummy Data"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Passport Information</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Passport Issue Date</label>
                  <input
                    class="form-control"
                    name="Passport Issue Date"
                    type="date"
                    value=""
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Passport End Date</label>
                  <input
                    class="form-control"
                    name="Passport End Date"
                    type="date"
                    value=""
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Passport Number</label>
                  <input
                    class="form-control"
                    name="Passport Number"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Passport Issue Place</label>
                  <input
                    class="form-control"
                    name="Passport Issue Place"
                    value="Dummy Data"
                  />
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Passport City</label>
                  <select class="form-control" name="Passport City" value="">
                    <option value="2">Select</option>
                    <option value="1">Egypt</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Select Residence</label>
                  <select class="form-control" name="Select Residence" value="">
                    <option value="2">Select</option>
                    <option value="1">Egypt</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Residence Number</label>
                  <input
                    class="form-control"
                    name="Residence Number"
                    value="4972572-76"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Residence Issue Date</label>
                  <input
                    class="form-control"
                    name="Residence Issue Date"
                    value="22/9/1996"
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Residence End Date</label>
                  <input
                    class="form-control"
                    name="Residence End Date"
                    value="22/9/1996"
                    type="date"
                  />
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Residence Place</label>
                  <select class="form-control" name="Residence Place" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Residence Job</label>
                  <input
                    class="form-control"
                    name="Residence Job"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Tickets City</label>
                  <select class="form-control" name="Tickets City" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>
                    <input type="checkbox" class="" /> Act As Supplier
                  </label>
                  <div class="visible-lg visible-md visible-sm mt-25"></div>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Supplier Code</label>
                  <input
                    class="form-control"
                    name="Supplier Code"
                    value="4972572-76"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Supplier Group</label>
                  <select class="form-control" name="Supplier Group" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Ticket Class</label>
                  <select class="form-control" name="Ticket Class" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Travel Way</label>
                  <select class="form-control" name="Travel Way" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Other Information</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Blood</label>
                  <select class="form-control" name="Blood" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>
                    <input type="checkbox" class="" /> Doctor Flag
                  </label>
                  <div class="visible-lg visible-md visible-sm mt-30"></div>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>First Syndicate </label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Second Syndicate </label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>First Language </label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>First Language Degree</label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Second Language </label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Second Language Degree</label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Third Language </label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Third Language Degree</label>
                  <select class="form-control" name="Other" value="">
                    <option value="1">Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Food Type</label>
                  <input
                    class="form-control"
                    name="Food Type"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>House Type</label>
                  <input
                    class="form-control"
                    name="Food Type"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Sponsorship No</label>
                  <input
                    class="form-control"
                    name="Sponsorship No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Entry Number</label>
                  <input
                    class="form-control"
                    name="Entry No"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Mail Prefix</label>
                  <select class="form-control" name="Mail Prefix" value="">
                    <option value="1"></option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Employee's Sponsor</label>
                  <input
                    class="form-control"
                    name="Employee's Sponsor"
                    value="Dummy Data"
                  />
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Address En 2</label>
                  <input
                    class="form-control"
                    name="Address  2"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Address AR 2</label>
                  <input
                    class="form-control"
                    name="Address  2"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Address En 3</label>
                  <input
                    class="form-control"
                    name="Address  3"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Address AR 3</label>
                  <input
                    class="form-control"
                    name="Address  2"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Phone 3</label>
                  <input
                    class="form-control"
                    name="Phone "
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Phone 4</label>
                  <input class="form-control" name="Phone" value="Dummy Data" />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Mobile 3</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Mobile 4</label>
                  <input
                    class="form-control"
                    name="Mobile"
                    value="Dummy Data"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
