<div class="tab-pane" id="profile-2">
  <div class="row">
    <div class="col-xs-12">
      <div class="tools right">
        <a class="glyphicon glyphicon-pencil boxEdit" href="#"></a>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Hiring Information</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Recruitment Approval</label>
                  <input
                    class="form-control"
                    name="Requirement Approval"
                    value="Dummy Data"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Recruitment Date</label>
                  <input
                    class="form-control"
                    name="Requirement Date"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>General Department</label>
                  <input
                    class="form-control"
                    name="Department"
                    value="UI/UX Team"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Department</label>
                  <input
                    class="form-control"
                    name="Department"
                    value="UI/UX Team"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Doctor Specialties</label>
                  <select class="form-control">
                    <option value="2">Specialty 1</option>
                    <option value="1">Specialty 2</option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Job</label>
                  <input
                    class="form-control"
                    name="Job Title"
                    value="UI/UX Developer"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Location</label>
                  <input class="form-control" name="Location" value="UI" />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Job Date</label>
                  <input
                    class="form-control"
                    name="Job Date"
                    value="19/1/2020"
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Job Financial Grade</label>
                  <select class="form-control">
                    <option value="2"></option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Year Experience</label>
                  <input
                    class="form-control"
                    name="Year Experience"
                    value="12"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Month Experience</label>
                  <input
                    class="form-control"
                    name="Month Experience"
                    value="12"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Day Experience</label>
                  <input
                    class="form-control"
                    name="Day Experience"
                    value="12"
                  />
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Assignment Type</label>
                  <select
                    class="form-control"
                    name="Assignment Type"
                    value="Please Select"
                  >
                    <option value="1">Full Time</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Job Filling %</label>
                  <input
                    class="form-control"
                    name="Job Filling %."
                    value="  %"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Post Reference</label>
                  <select
                    class="form-control"
                    name="Assignment Type"
                    value="Please Select"
                  >
                    <option value="1"></option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Last Post Ref.</label>
                  <input
                    class="form-control"
                    name="Last Post Ref."
                    value="1/1/2020"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Room No</label>
                  <input class="form-control" name="Room No" value=" " />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Scientific Qualifications</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Qualification</label>
                  <input
                    class="form-control"
                    name="Qualification"
                    value="Computer Sciences"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Specialization</label>
                  <input
                    class="form-control"
                    name="Specialization"
                    value="Computer Sciences"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Qualification Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="Qualification Date"
                    value="01/01/2023"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label> Degree</label>
                  <select class="form-control" name=" Degree">
                    <option value="2">N/A.</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Scientific Degree</label>
                  <select class="form-control" name="Scientific Degree">
                    <option value="2">Ph.D / M.D.</option>
                    <option value="1"></option>
                  </select>
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Graduate Place</label>
                  <input
                    class="form-control"
                    name="Graduate Place"
                    value="Ain Shams University"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Contract Flag</label>
                  <select class="form-control">
                    <option value="2">Internal</option>
                    <option value="1"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Contract </label>
                  <input
                    class="form-control"
                    name="Contract"
                    value="Contract"
                  />
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Contract Start Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="Contract Start Date"
                    value="19/1/2020"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Contract End Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="Contract End Date"
                    value="19/1/2022"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>First Contract Date</label>
                  <input
                    class="form-control"
                    type="date"
                    name="Contract Start Date"
                    value="19/1/2020"
                  />
                </div>

                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Petroleum Experience</label>
                  <input
                    class="form-control"
                    name="Requirement Date"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Retiring Date</label>
                  <input
                    class="form-control"
                    name="Requirement Date"
                    value=""
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Branch</label>
                  <input
                    class="form-control"
                    name="Branch"
                    value="Ain Shams University"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Graduate Date</label>
                  <input
                    class="form-control"
                    name="Graduate Date"
                    type="date"
                    value="1/7/2018"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boxData editableBox">
        <div class="">
          <div class="row">
            <div class="col-xs-12">
              <div class="boxHeader">
                <h3 class="boxTitle">Vacation</h3>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Initial vacation</label>
                  <select
                    class="form-control"
                    name="Initial vacation"
                    value="Please Select"
                  >
                    <option value="1">Please Select</option>
                    <option value="2"></option>
                  </select>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Vacation Start Date</label>
                  <input
                    class="form-control"
                    name="Vacation Start Date"
                    value="19/3/2020"
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Vacation End Date</label>
                  <input
                    class="form-control"
                    name="Vacation End Date"
                    value="19/3/2020"
                    type="date"
                  />
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                  <label>Employee Class</label>
                  <input
                    class="form-control"
                    name="Employee Class"
                    value="Employee Class"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
